:root {
  font-size: 20px;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Rosario", sans-serif;
  /*font-family: 'Volkhov', serif;*/
}

header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  z-index: 1;
}

.header_logo {
  background-color: rgba(255, 251, 251, 1);
  width: 13%;
}

.header_nav {
  width: 87%;
}

.header_nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.header_nav a {
  text-decoration: none;
  margin: 2.5%;
}

.header_nav li {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 44px;
  color: #fffcfc;
}

main {
  display: flex;
  flex-direction: column;
}

main > div {
  height: 100vh;
  width: 100%;
  margin-top: -6%; /* щоб шапка не перекривала верхню чатину сторінки*/
  padding-top: 6%;
  margin-bottom: 100px;
  box-sizing: border-box;
}

@keyframes gallerysideone {
  /*Анімації для сторінки Gallery*/
  from {
    top: 0;
    left: -50%;
  }
  to {
    top: 0;
    left: 0%;
  }
}

@keyframes gallerysidetwo {
  from {
    top: 0;
    right: -50%;
  }
  to {
    top: 0;
    right: 0%;
  }
}
.gallery > div > img:nth-of-type(odd) {
  animation: gallerysideone 1s linear;
}

.gallery > img:first-of-type {
  animation: gallerysideone 2s linear;
}

.gallery > img:last-of-type {
  animation: gallerysidetwo 2s linear;
}

.gallery div img:nth-of-type(even) {
  animation: gallerysidetwo 1s linear;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.gallery > img:first-of-type {
  margin-right: 20px;
}

.gallery > img {
  width: 20%;
  position: relative;
}

.gallery > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  height: 80vh;
}

.gallery > div > img {
  margin: 1%;
  width: 48%;
  position: relative;
}

.services {
  display: flex;
  align-items: center;
}

@keyframes orbitone {
  /*Анімації для сторінки Services*/
  from,
  to {
    left: 0px;
    top: 0px;
  }

  25% {
    top: 0%;
    left: -50%;
  }
  50% {
    top: -50%;
    left: -50%;
  }
  75% {
    left: 0;
    top: -50%;
  }
}

@keyframes orbittwo {
  from,
  to {
    left: 0;
    top: 0px;
  }

  25% {
    top: -50%;
    left: 0;
  }
  50% {
    top: -50%;
    left: 50%;
  }
  75% {
    left: 50%;
    top: 0px;
  }
}

@keyframes orbitthree {
  from,
  to {
    left: 0;
    top: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: -50%;
  }
  75% {
    left: -50%;
    top: 0;
  }
}
@keyframes orbitfour {
  from,
  to {
    left: 0%;
    top: 0;
  }
  25% {
    top: 0%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    left: 0%;
    top: 50%;
  }
}

.services > .leftside {
  /* animation: mimi 10s infinite linear;*/
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 55em;
}

.leftside img {
  height: 320px;
}

.leftside > div {
  width: 50%;
  text-align: center;
}
.leftside > div:nth-child(4) {
  animation: orbitone 15s infinite linear;
  position: relative;
}
.leftside > div:nth-child(3) {
  animation: orbittwo 15s infinite linear;
  position: relative;
}
.leftside > div:nth-child(2) {
  animation: orbitthree 15s infinite linear;
  position: relative;
}
.leftside > div:nth-child(1) {
  animation: orbitfour 15s infinite linear;
  position: relative;
}

.leftside .text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.services > .rightside {
  width: 50%;
  height: 100%;
  background-image: url("../images/pexels-cottonbro-3998389\ 1.png");
  background-repeat: no-repeat;
  background-size: 50vw 100vh;
}

.team > .header_team {
  margin: 2.5vh 0;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 116px;
  text-align: center;
  color: #000000;
}

.team > .cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.cards .card {
  height: 677px;
  width: 20.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  transition: filter 2s;
}

.cards .card1 {
  background-image: url("../images/Rectangle\ 8.png");
}

.cards .card2 {
  background-image: url("../images/Rectangle\ 12.png");
}

.cards .card3 {
  background-image: url("../images/Rectangle\ 13.png");
}

.cards .card4 {
  background-image: url("../images/Rectangle\ 9.png");
}

.cards .nest {
  width: 100%;
  height: 30%;
  padding: 1.25em;
  box-sizing: border-box;
  background: rgba(163, 83, 10, 0.7);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 62px;
  text-align: center;
  color: #fffafa;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 40px 40px;
  visibility: hidden;
}

.cards .card:hover .nest {
  visibility: visible;
  transition: visibility 5s;
}
.cards:hover .card:not(:hover) {
  filter: brightness(40%);
}

main .contacts {
  margin-bottom: 0;
}
.contacts > div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% auto;
  height: 580px;
}

.contacts .form {
  width: 51%;
  height: 570px;
}

.contacts .form .form_text {
  font-style: italic;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 76px;
  text-align: center;
  color: #000000;
  width: 90%;
}

.contacts form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #e5e5e5;
  margin-top: 3%;
  padding: 3%;
  box-sizing: border-box;
  height: 405px;
}

form input {
  background: #ffffff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
}

form .input_one {
  width: 40%;
  padding-left: 10%;
  box-sizing: border-box;
}

form .input_two {
  width: 90%;
  margin-top: 3%;
  padding-bottom: 190px;
}

.contacts .map {
  width: 47%;
  margin-top: 1%;
}

.contacts .contact_footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2%;
  height: 20vh;
}

.contacts .contact_footer > div {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  font-style: italic;
  color: #000000;
}

.contacts .contact_footer > div > span {
  font-weight: 700;
  font-style: normal;
}

.contacts .contact_footer > div > h1 {
  font-size: 1.8rem;
  margin-top: 0;
}

.contacts .contact_footer > div ul {
  text-align: start;
  padding-left: 35%;
}

.contacts .contact_footer a {
  text-decoration: none;
  color: #000000;
}

.contacts .contact_footer > div li {
  list-style-type: none;
}

.contact_footer .li1::before {
  content: "";
  width: 30px;
  height: 30px;
  left: 79.5%;
  position: absolute;
  background-image: url("../images/pngwing\ 1.png");
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

.contact_footer .li2::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 79.5%;
  background-image: url("../images/pngwing\ 2.png");
  background-repeat: no-repeat;
}

.contact_footer .li3::before {
  content: "";
  width: 30px;
  height: 30px;
  left: 79.5%;
  position: absolute;
  background-image: url("../images/pngwing\ 3.png");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

body::-webkit-scrollbar {
  width: 20px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e5e5e5;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}
