:root {
  font-size: 20px;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Rosario", sans-serif;
  /*font-family: 'Volkhov', serif;*/
}

body {
  max-width: 1620px;
}

nav {
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-nav-link-padding-x: 2%;
  box-sizing: border-box;
}

.container-fluid {
  --bs-gutter-x: 0;
}

.header_logo {
  background-color: rgba(255, 251, 251, 1);
  width: 200px;
}

.header_nav {
  position: relative;
  left: 25%;
}

.navbar-toggler {
  margin-right: 2%;
}

.header_nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.header_nav a {
  text-decoration: none;
}

.header_nav li {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 44px;
  color: #fffcfc;
}

main {
  display: flex;
  flex-direction: column;
}

main > div {
  height: 100vh;
  width: 100%;
  margin-top: -6%; /* щоб шапка не перекривала верхню чатину сторінки*/
  padding-top: 6%;
  margin-bottom: 100px;
  box-sizing: border-box;
}

@keyframes gallerysideone {
  /*Анімації для сторінки Gallery*/
  from {
    top: 0;
    left: -500px;
  }
  to {
    top: 0;
    left: 0%;
  }
}

@keyframes gallerysidetwo {
  from {
    top: 0;
    right: -500px;
  }
  to {
    top: 0;
    right: 0%;
  }
}
.gallery > div > img:nth-of-type(odd) {
  animation: gallerysideone 1s linear;
}

.gallery > img:first-of-type {
  animation: gallerysideone 2s linear;
}

.gallery > img:last-of-type {
  animation: gallerysidetwo 2s linear;
}

.gallery div img:nth-of-type(even) {
  animation: gallerysidetwo 1s linear;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.gallery > img:first-of-type {
  margin-right: 20px;
  box-sizing: border-box;
}

.gallery > img {
  width: 20%;
  position: relative;
}

.gallery > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  height: 80vh;
}

.gallery > div > img {
  margin: 1%;
  width: 48%;
  height: 50%;
  position: relative;
}

.services {
  display: flex;
  align-items: center;
}

@keyframes orbitone {
  /*Анімації для сторінки Services*/
  from,
  to {
    left: 0px;
    top: 0px;
  }

  25% {
    top: 0%;
    left: -50%;
  }
  50% {
    top: -50%;
    left: -50%;
  }
  75% {
    left: 0;
    top: -50%;
  }
}

@keyframes orbittwo {
  from,
  to {
    left: 0;
    top: 0px;
  }

  25% {
    top: -50%;
    left: 0;
  }
  50% {
    top: -50%;
    left: 50%;
  }
  75% {
    left: 50%;
    top: 0px;
  }
}

@keyframes orbitthree {
  from,
  to {
    left: 0;
    top: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: -50%;
  }
  75% {
    left: -50%;
    top: 0;
  }
}
@keyframes orbitfour {
  from,
  to {
    left: 0%;
    top: 0;
  }
  25% {
    top: 0%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    left: 0%;
    top: 50%;
  }
}

.services > .leftside {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50em;
}

.leftside img {
  width: 80%;
}

.leftside > div {
  width: 50%;
  text-align: center;
}
.leftside > div:nth-child(4) {
  animation: orbitone 15s infinite linear;
  position: relative;
}
.leftside > div:nth-child(3) {
  animation: orbittwo 15s infinite linear;
  position: relative;
}
.leftside > div:nth-child(2) {
  animation: orbitthree 15s infinite linear;
  position: relative;
}
.leftside > div:nth-child(1) {
  animation: orbitfour 15s infinite linear;
  position: relative;
}

.leftside .text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.services > .rightside {
  width: 50%;
  height: 100%;
  background-image: url("../images/pexels-cottonbro-3998389\ 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.team > .header_team {
  margin: 2.5vh auto;
  width: 95%;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 116px;
  text-align: center;
  color: #000000;
}

.team > .cards {
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin: auto;
}

.cards .card {
  height: 70vh;
  width: 22%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  border: 0;
  border-radius: 40px;
  transition: filter 2s;
}

.cards .card1 {
  background-image: url("../images/Rectangle\ 8.png");
}

.cards .card2 {
  background-image: url("../images/Rectangle\ 12.png");
}

.cards .card3 {
  background-image: url("../images/Rectangle\ 13.png");
}

.cards .card4 {
  background-image: url("../images/Rectangle\ 9.png");
}

.cards .nest {
  width: 100%;
  height: 0%;
  background: rgba(163, 83, 10, 0.7);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 62px;
  text-align: center;
  color: #fffafa;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
  transition: all 2s;
}

.cards .card:hover .nest {
  height: 25%;
  line-height: 3em;
}
.cards:hover .card:not(:hover) {
  filter: brightness(40%);
}

main .contacts {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.contacts .form {
  padding-top: 1.5%;
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts .form .form_text {
  font-style: italic;
  font-weight: 700;
  font-size: 3.1rem;
  text-align: center;
  color: #000000;
  position: relative;
}

.contacts form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #e5e5e5;
  padding: 3%;
  box-sizing: border-box;
}

form input {
  background: #ffffff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
}

form .input_one {
  width: 40%;
  padding-left: 10%;
  box-sizing: border-box;
}

form .input_two {
  width: 90%;
  margin-top: 3%;
  padding-bottom: 15vh;
}

.contacts .map {
  width: 45%;
  margin-top: 1.5%;
}

.contacts .contact_footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 20vh;
  margin-top: 6%;
}

.contacts .contact_footer > div {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  font-style: italic;
  color: #000000;
}

.contacts .contact_footer > div > span {
  font-weight: 700;
  font-style: normal;
}

.contacts .contact_footer > div > h1 {
  font-size: 1.8rem;
  margin-top: 0;
}

.contacts .contact_footer > div ul {
  text-align: start;
  padding-left: 35%;
}

.contacts .contact_footer a {
  text-decoration: none;
  color: #000000;
}

.contacts .contact_footer > div li {
  list-style-type: none;
  position: relative;
}

.contact_footer .li1::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../images/pngwing\ 1.png");
  background-repeat: no-repeat;
  background-position: 4px 4px;
  right: 100%;
}

.contact_footer .li2::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../images/pngwing\ 2.png");
  background-repeat: no-repeat;
  right: 100%;
}

.contact_footer .li3::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../images/pngwing\ 3.png");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  right: 100%;
}

body::-webkit-scrollbar {
  width: 20px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e5e5e5;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}

@media screen and (min-width: 1620px) {
  body {
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 15px;
    width: 100%;
  }

  .contacts {
    height: 100%;
    width: 100%;
  }

  .contacts .form {
    width: 85%;
    margin: 0 auto;
    order: 1;
  }
  .contacts .map {
    width: 85%;
    margin: 1% auto;
    height: 30em;
    order: 3;
  }
  .contacts .contact_footer {
    order: 2;
    position: relative;
    height: 20%;
  }
  .team {
    height: 100%;
  }
  .team .header_team {
    width: 95%;
  }
  .team .cards {
    flex-wrap: wrap;
  }
  .team .cards .card {
    width: 45%;
    height: 40em;
    margin-top: 2%;
  }
  .services {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
  .services .leftside {
    width: 95%;
    height: 70em;
  }
  .services .rightside {
    width: 100%;
    height: 60em;
    margin: 1% auto;
    background-size: 100% 100%;
  }
  .gallery {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .gallery > img {
    width: 39%;
  }
  .gallery > div {
    order: 3;
    width: 82%;
    height: 60%;
  }
  .gallery:nth-child(3) {
    order: 1;
  }
  .gallery > div > img:nth-of-type(odd) {
    animation: gallerysideone 2s linear;
  }
  .gallery div img:nth-of-type(even) {
    animation: gallerysidetwo 2s linear;
  }
  .cards:hover .card:not(:hover) {
    filter: brightness(100%);
  }
  main > div {
    margin-top: -15%; /* щоб шапка не перекривала верхню чатину сторінки*/
    padding-top: 15%;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  .navbar .header_logo img {
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    height: 100%;
    width: 100%;
  }
  .contacts .map {
    order: 2;
  }
  .contacts .contact_footer {
    order: 3;
  }
  .team .cards {
    flex-wrap: wrap;
  }
  .team .cards .card {
    width: 70%;
    height: 50em;
    margin-top: 2%;
  }
  .cards:hover .card:not(:hover) {
    filter: brightness(100%);
  }
  .services .rightside {
    height: 0;
  }
  .gallery > img {
    width: 70%;
    margin: 1%;
  }
  .gallery > div img {
    width: 80%;
  }
  .services .leftside {
    align-items: flex-start;
    height: 48em;
    margin-bottom: 4em;
  }

  main > div {
    margin-top: -18%; /* щоб шапка не перекривала верхню чатину сторінки*/
    padding-top: 18%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .navbar .header_logo {
    width: 150px;
  }
  .navbar .header_logo img {
    height: 110px;
  }
}
